<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Dating App</a>
        <ul *ngIf="username" class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/matches" routerLinkActive="active">Matches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/list" routerLinkActive="active">List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
            </li>
        </ul>

        <div *ngIf="username" class="dropdown" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{ username }}</a>
            <div *dropdownMenu class="dropdown-menu">
                <a class="dropdown-item">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="onLogout()">Logout</a>
            </div>
        </div>

        <form *ngIf="!username" [formGroup]="form" class="d-flex" role="search" (ngSubmit)="onLogin()">
            <input formControlName="username" class="form-control me-2" type="text" placeholder="Login" />
            <input formControlName="password" class="form-control me-2" type="password" placeholder="Password" />
            <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
    </div>
</nav>
